#macro(mainMain)
<html>
<head>
    <title>Issue tracker</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
    #selects select {display:none}
    </style>

</head>
<body>
<header>
    <nav>
        <a href="$WebPath.getISSUES()">Main page</a>
        <ul id="menu">
            #if($currentUser)
            <li>
                <form method="post" action="$WebPath.getLOGOUT()">
                    <button id="logout">Log out</button>
                </form>
            </li>
            #else
            <li><a href="$WebPath.getLOGIN()">Log in</a></li>
            <li><a href="$WebPath.getSUBMIT()">Submit</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>


</main>
<footer>
    <script type="text/javascript">
    function sel(f) {
        var s=document.getElementsByTagName('select');
        for (var i=0;i<s.length;i++) {s[i].style.display='none'}
    }
    </script>
</footer>
</body>
</html>
#end