#parse("/velocity/main.vm")
#@mainMain()
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" id="loginForm" method="post">
                #if($authenticationFailed)
                    <p class="bad notification">Log in failed</p>
                #elseif($authenticationSucceeded)
                    <p class="good notification">Login is success, please click on main page</p>
                #end
                <span class="heading">Login</span>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" value="" required>
                </div>
                <div class="form-group help">
                    <input class="form-control" type="password" name="password" placeholder="Password" value="" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success btn-sm">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
#end