#parse("/velocity/main.vm")
#@mainMain()
<form id="SubmitForm" method="post">
    #if($authenticationFailed)
    <p class="bad notification">Submit is failed</p>
    #elseif($authenticationSucceeded)
    <p class="good notification">Submit is success ${currentUser}</p>
    #elseif($loggedOut)
    <p class="notification">Log out</p>
    #end
    <h1>Submit</h1>
    <p>Please enter your username and password.</p>
    <label>Username</label>
    <input type="text" name="username" placeholder="Username" value="" required>
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" value="" required>
    #if($loginRedirect)
    <input type="hidden" name="loginRedirect" value="$loginRedirect">
    #end
    <input type="submit" value="Log in">
</form>
#end